#presentStatus {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
    vertical-align: middle;
}

#Box {
    position: relative;
    display: inline-block;
    text-align: center;
}